html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 0;
  transition: height ease-in-out;
}

.slider_images {
  display: flex;
  position: relative;
  width: 100%;
}

img{
  height: 400px;
  min-width: 100%;
  border-radius: 10px;
}

.quote {
  font-size: 17px;
  padding-top: 10px;
  width: 70%;
}

.slide {
  display: flex;
  flex-direction: column;
  height: 450px;
  min-width: 100%;
  transition: all 0.25s ease;
}

.slider_images input {
  display: none;
}

.slide_dots {
  display: flex;
  justify-content: end;
  position: absolute;
  z-index: 10;
  bottom: 15px;
  right: 0;
  margin: 5px;
}

label {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: rgb(168, 168, 247);
  cursor: pointer;
  margin: 5px;
  transition: all 0.25s ease;
}

label:hover {
  background: white;
}

/* input[type="radio"]:checked ~ .slide_dots label {
  background-color:chartreuse;
} */

#slide_dot_1:checked ~ .slide_1 {
  margin-left: 0;
}

#slide_dot_1:checked ~ .slide_dots .label_1 {
  background: none;
  border: 1px solid white;
}

#slide_dot_1:not(:checked) ~ .slide_1 .quote_1 {
  display: none;
}

#slide_dot_2:checked ~ .slide_2 {
  margin-left: -100%;
}

#slide_dot_2:checked ~ .slide_dots .label_2 {
  background: none;
  border: 1px solid white;
}

#slide_dot_3:checked ~ .slide_3 {
  margin-left: -200%;
}

#slide_dot_3:checked ~ .slide_dots .label_3 {
  background: none;
  border: 1px solid white;
}

#slide_dot_4:checked ~ .slide_4 {
  margin-left: -300%;
}

#slide_dot_4:checked ~ .slide_dots .label_4 {
  background: none;
  border: 1px solid white;
}

#slide_dot_5:checked ~ .slide_5 {
  margin-left: -400%;
}

#slide_dot_5:checked ~ .slide_dots .label_5 {
  background: none;
  border: 1px solid white;
}

@media screen and (max-width: 1100px) {
  .slider {
    width: 60%;
    height: auto;
    transition: width ease-in-out;
  }
}

@media screen and (max-width: 780px) {
  .slider {
    width: 80%;
    height: auto;
    transition: width ease-in-out;
  }

  .quote {
    width: 50%;
  }
}

@media screen and (max-width: 380px) {
  img {
    height: 200px;
  }

  .slide_dots {
    bottom: none;
    top: 215px;
  }
}